/* white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif; */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
} */

body {
  margin: 0;
}

nav {
  background-color: #2081c3;
  padding-top: 25px;
  padding-bottom: 25px;
}

#nav_items {
  color: white;
}

img {
  display: block;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 300px;
  /* margin: 0 auto; */
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 50 px;
  width: 200px;
  text-align: center;
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #2081c3;
  color: white;
  padding: 10px 10px 10px 10px;
}

.card {
  display: flex;
  flex-direction: row;
}

/* #beer_image {
  width: 50px !important;
} */
